@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$darkish-blue: rgb(0, 53, 124);
$bright-blue: rgb(0, 108, 250);
$very-light-blue: rgb(215, 232, 254);
$powder-blue: #bfdafd;

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $darkish-blue;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

input {
  outline: none;
  border: none;
}

.main-input-wrapper {
  display: flex;
  border: $darkish-blue 2px solid;
  border-radius: 4px;
  padding: 20px;
}

.text-wrapper {
  margin: 10px 20px 10px 0;
}

.main-header {
  font-size: 20px;
  margin: 10px 0;
  font-weight: 600;
}

.subheader {
  font-size: 16px;
  margin: 10px 0;
}

.placeholder {
  color: $darkish-blue;
  opacity: 0.5;
  font-size: 12px;
  padding: 8px 60px 8px 10px;
  align-self: center;

}

.up-down-arrow {
  padding: 12px 15px;
  display: flex;
  align-self: center;
}

.up-down-arrow-wrapper {
  border-left: $darkish-blue 2px solid;
  background-color: $powder-blue;
}

.select-submit-wrapper {
  display: flex;
  align-self: center;
  margin: 20px 60px 20px 20px;
}

.selection-box  {
  display: flex;
  border: $darkish-blue 2px solid;
  border-radius: 4px;
  margin: 6px;

}

.submit-button {
  background-color: $bright-blue;
  border-radius: 4px;
  color: white;
  font-size: 12px;
  padding: 10px 20px;
  margin: 6px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  border-bottom: 1px solid $very-light-blue;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.first {
  border-right: 1px solid $very-light-blue;
}

.second {
  border-left: 1px solid $very-light-blue;
}

.column2 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 6;
}

.main-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.entire-calendar {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: $darkish-blue 2px solid;
  background-color: #ffffff;
  box-shadow: 0 0 32px 0 rgba(0, 53, 124, 0.25);
  border-radius: 4px;

  position: absolute;
  bottom: 0;
}

.current-year-month-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.current-year-month {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  color: $darkish-blue;
  margin: 10px;
}

.right-side-arrow,
.left-side-arrow {
  cursor: pointer;
  padding: 15px 10px;
  display: flex;
  align-self: center;
}

.weeks-header-wrapper {
  border-bottom: 1px solid $very-light-blue;
}

.weeks {
  padding: 10px;
  font-size: 11px;
  text-align: center;
  margin: 10px 0;
  color: $darkish-blue;
  font-weight: 600;
}

.day-cells {
  text-align: center;
  font-size: 10px;
  color: $darkish-blue;
  border-bottom: 1px solid $very-light-blue;
}

table {
  border-spacing: 0px;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}

th,
td {
  width: 14.2857142857%;
  height: 42px;
  border-spacing: 0;
  padding: 10px;
}

td:hover {
  background-color: $very-light-blue;
  border-radius: 100%;
}

.today-marker {
  font-weight: 900;
}

.selected-day {
  background-color: $bright-blue;
  color: white;
  border-radius: 100%;
}

.test-border {
  border: greenyellow 1px solid;
}
